accelerate
https://huggingface.co/datasets/multimodalart/steamboat-willy-frames/resolve/main/diffusers-0.30.0.dev0-py3-none-any.whl
invisible_watermark
torch
transformers==4.42.4
xformers
sentencepiece
einops